.clock {
  @include topbar-widgets-box;
  padding: 4px 15px;
  &:hover {
    background-color: $surface-container-highest;
  }
}

.clock-label {
  font-family: "SFProDisplay Nerd Font Propo";
  font-weight: Bold;
  font-size: 15;
  color: $on-background;
}
