@import "colors.scss";

* {
  all: unset;
  font-family: "SFProDisplay Nerd Font Propo";
  font-weight: bold;
  border-radius: 8px;
}

window {
  border-radius: 20px;
}

@import "scss/lib.scss"
@import "scss/clock.scss"
@import "scss/battery.scss"
@import "scss/power.scss"
@import "scss/topbar-container.scss"

