
.clock {
    // background-color: #FF0000;
    background-color: $on-secondary;
    // color: #0000FF;
    color: $on-background;
    border-radius: 2rem;
    padding: 5px 17px;
    margin: 5px 3px 0px 3px;
    transition: background-color 0.3s;  // Specify which property should transition
    // font-size: 1rem;

    &:hover { // Nesting hover inside .clock for better specificity
        background-color: mix($surface-variant, $on-surface-variant, 70%);
    }
}

.clock-label {

    font-family: "SF Pro Display";
}

.big_clock_box {
    @include window;
    margin-top: 20rem;
    margin-right: 20rem;
    border-radius: 2rem;
}

.big_clock_label {
    font-size: 10rem;
}
