
.indicator {
    background-color: $on-secondary;
    border-radius: 15px;
    padding: 0rem 12px;  // Corrected padding syntax
    margin: 5px 5px 0px 5px;
    margin-right: 0rem;
    transition: 0.3s;
}

.indicator-icon {
    margin: 0 5px;
    font-size: 1.2rem;
}

.indicator:hover {
    background-color: mix($surface-variant, $on-surface-variant, 70%);
}

